python/scratch/*
python/frames/*
python/profiles/*
python/ra1e6_run1/*
python/slices/*
python/snapshots/*
*.h5
*.mp4
*.png
*.pdf
*.pyc
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

*~
